.contacto {
  margin-top: 100px;
  margin-bottom: 100px;
  display: flex;
  justify-content: space-around;
  align-items: center;
}
.contacto p {
  max-width: 500px;
  margin: 20px;
  font-size: large;
}
@media only screen and (max-width: 768px) {
  .contacto {
    flex-direction: column;
  }
}

.Formulario input, .Formulario textarea {
  width: 100%;
  margin: 10px;
  border-radius: 5px;
}

.Videos iframe {
  width: 100%;
  max-width: 560px;
  height: 310px;
}
.MainVideos{
  margin-top: 100px;
  margin-bottom: 200px;
  

}
.BodyIndex{
  margin-top: 50px;
  margin-bottom: 50px;
}

