.contacto{
    p{
        max-width: 500px;
        margin: 20px;
        font-size: large;
    }
    display: flex;
    justify-content: space-around;
    align-items: center;
    @media only screen and (max-width: 768px) {
        flex-direction: column;
    }
  }


.Formulario{
    input, textarea {
        width: 100%;
        margin: 10px;

        border-radius: 5px;
    }
}

.Videos{
    
    iframe {
        width: 100%;
        max-width: 560px;
        height: 310px;
    }

}